*{
    margin: 0;
    padding: 0;
    background-color: #ff90bb;
}

.head{
    margin-top: 3%;
    margin-bottom: 2%;
    justify-items: center;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    justify-content: center;
}
.head p{
    color: white;
    text-align: center;
}

.listlink ul{
    margin: 0 auto;
    display: table;
    list-style-type: none;
}

.listlink ul li a{
    text-decoration: none;
    color: #ff90bb;
    background: none;
    

}

.listlink ul li{
    border: 1px solid #ff90bb;
    background-color: #ffffff;
    margin: 30px;
    border-radius: 20px;
    padding: 25px  100px 25px 100px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
}

.listlink ul li button{
    border: none;
    background: none;

}

.listlink ul li i{
    padding-right: 10px;
    background: none;
    color: #ff90bb;
}

.listlink ul li:active{
    background-color: pink;
    color: rgb(255, 255, 255);
}

.listlink ul li a:active{
    font-size: 20px;
    color: white;
}
.listlink ul li i:active{
    font-size: 20px;
    background: white;
}


@media only screen and (max-width: 375px) { 
    .listlink ul li{
        padding: 17px 50px;
        margin: 15px;
        border-radius: 15px;

    }

    .listlink ul li a{
        font-size: 10px;
        color: green;
    }

}
